#FirstHeader span {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 100px;
  transform: translateY(50px);
  opacity: 0;
  filter: blur(30px);
  animation: textEffect 1s linear 1 forwards;
  color: #af9d71;
  text-shadow: 2px 2px 4px rgba(4, 4, 4, 0.5);
}
@keyframes textEffect {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0px);
  }
}
.boldClass {
  font-weight: 700;
}
.FheaderNav a {
  text-shadow: 2px 2px 4px rgba(4, 4, 4, 0.5);
  color: #003f39;
}
.plusIndexZ {
  position: relative;
  z-index: 99;
}
.waves {
  scale: 1.1;
  position: absolute;
  height: 527px;
  bottom: 100px;
  width: 100%;
  transform: rotate(180deg);
}
#FirstHeader {
  height: 50dvh;
  /* background: linear-gradient(#1abc9c, #3498db); */
  position: relative;
  font-size: 2em;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}
.wave {
  width: 2402px;
  height: 427px;
  background: url("https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png")
    no-repeat center bottom;
  position: absolute;
  animation: wave 5s ease-in-out alternate infinite;
  left: -180px;
  bottom: -85px;
}
.wave.a {
  background-position: 0 -854px;
}
.wave.b {
  animation-delay: 6s;
  background-position: 0 -427px;
}
.wave.c {
  animation-delay: 1.2s;
  background-position: 0 0;
}

@keyframes wave {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-80px, 30px);
  }
  100% {
    transform: translate(160px, -60px);
  }
}
