body {
  width: 100%;
}
.bodyForProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 50px;
  width: 100%;
  /* height: 200dvh; */
}
#bodyForProject ul {
  gap: 20px;
  list-style: none;
  padding: 10px;
  margin: 10px;
  column-count: 4;
}
#bodyForProject ul li {
  padding-bottom: 20px;
  margin: 0px;
  display: flex !important;
  /* flex-direction: column; */
}

.hover-effect {
  border-radius: 8px;
  height: auto;
  width: 155px;
  transition: transform 0.2s ease;
}
.hover-effect:hover {
  transform: scale(1.05);
}

/* Extra Small Devices (phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #bodyForProject ul {
    gap: 20px;
    column-count: 2;
  }
  #bodyForProject ul li {
    padding-bottom: 20px;
  }
  .logo h1 {
    font-size: 15px;
  }
}

/* Small Devices (tablets, 600px - 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  #bodyForProject ul {
    gap: 20px;
    column-count: 3;
  }
  .hover-effect {
    width: 145px;
  }
}

/* Medium Devices (landscape tablets, 768px - 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  #bodyForProject ul {
    gap: 20px;
    column-count: 3;
  }
  .hover-effect {
    width: 185px;
  }
}

/* Large Devices (desktops, 992px - 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #bodyForProject ul {
    gap: 20px;
    column-count: 4;
  }
  .hover-effect {
    width: 195px;
  }
}

/* Extra Large Devices (large desktops, 1200px and above) */
@media only screen and (min-width: 1201px) {
  #bodyForProject ul {
    gap: 30px;
    column-count: 5;
  }
  #bodyForProject ul li {
    padding-bottom: 30px;
  }
  .hover-effect {
    width: 205px;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2560px) {
  #bodyForProject ul {
    gap: 40px;
    column-count: 6;
  }
  #bodyForProject ul li {
    padding-bottom: 40px;
  }
  .hover-effect {
    width: 305px;
  }
}
@media only screen and (min-width: 3840px) {
  #bodyForProject ul {
    gap: 45px;
    column-count: 7;
  }
  #bodyForProject ul li {
    padding-bottom: 45px;
  }
  .hover-effect {
    width: 305px;
  }
}

/* images click */

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.img-top {
  z-index: 3;
}
.image-container:hover .img-top {
  transform: rotate(2deg) scale(1.01);
  filter: brightness(1.2);
}

.img-bottom-right {
  top: 5px;
  scale: 0.95;
  margin-left: 20px;
  transform: rotate(7deg);
  position: absolute;
  z-index: 2;
}
.image-container:hover .img-bottom-right {
  transform: rotate(12deg);
  transition: all 0.5s;
  filter: brightness(1.2);
}
.img-bottom-left {
  transform: rotate(-7deg);
  margin-left: -20px;
  scale: 0.95;
  position: absolute;
  z-index: 1;
}
.image-container:hover .img-bottom-left {
  transform: rotate(-12deg);
  transform-origin: center;
  transition: all 0.5s;
  filter: brightness(1.2);
}
