body {
  width: 100%;
}
.bodyForProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 50px;
  width: 100%;
  /* height: 200dvh; */
}
#bodyForProject ul {
  gap: 20px;
  list-style: none;
  padding: 10px;
  margin: 10px;
  column-count: 4;
}
#bodyForProject ul li {
  padding-bottom: 20px;
  margin: 0px;
  display: flex !important;
  /* flex-direction: column; */
}

.hover-effect {
  border-radius: 8px;
  height: auto;
  width: 155px;
  transition: transform 0.2s ease;
}
.hover-effect:hover {
  transform: scale(1.05);
}

/* Extra Small Devices (phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #bodyForProject ul {
    gap: 15px;
    column-count: 2;
  }
  #bodyForProject ul li {
    padding-bottom: 15px;
  }
  .hover-effect {
    width: 115px;
  }
  .logo h1 {
    font-size: 15px;
  }
}

/* Small Devices (tablets, 600px - 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  #bodyForProject ul {
    gap: 20px;
    column-count: 3;
  }
  .hover-effect {
    width: 125px;
  }
}

/* Medium Devices (landscape tablets, 768px - 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  #bodyForProject ul {
    gap: 20px;
    column-count: 3;
  }
  .hover-effect {
    width: 1205px;
  }
}

/* Large Devices (desktops, 992px - 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #bodyForProject ul {
    gap: 20px;
    column-count: 4;
  }
}

/* Extra Large Devices (large desktops, 1200px and above) */
@media only screen and (min-width: 1201px) {
  #bodyForProject ul {
    gap: 30px;
    column-count: 5;
  }
  #bodyForProject ul li {
    padding-bottom: 30px;
  }
  .hover-effect {
    width: 225px;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2560px) {
  #bodyForProject ul {
    gap: 40px;
    column-count: 6;
  }
  #bodyForProject ul li {
    padding-bottom: 40px;
  }
  .hover-effect {
    width: 305px;
  }
}
@media only screen and (min-width: 3840px) {
  #bodyForProject ul {
    gap: 45px;
    column-count: 7;
  }
  #bodyForProject ul li {
    padding-bottom: 45px;
  }
  .hover-effect {
    width: 305px;
  }
}
